@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;    
}

.container{
    max-width: 80vw;
    font-family: 'Playfair Display', serif;
}

.navbar{
    display: flex;
    height: 67px;
   
}

.navbar li{
    list-style: none;
    margin: 0 12px;
}

.topleft{
    width: 50%;
    margin-bottom: 50px;
   
    
}
.topright{
    width: 50%;
   
   
}
.section1{
    
   max-height: 100vh;
}
.section1 h1{
    font-size:2rem;
}
.section1 p{
    color: rgb(132, 72, 51);
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.dumbelling{
    width: 289px;
    
}

.topright .gyming{
    width: 466px;
}
.section2{
    padding-left: 63px;
    padding-right: 63px;
}

.section2 h1{
    font-size: 2.5rem ;
}
.section2 p{
    padding: 0 8vw;
    text-align: center;
}

.box
{
    margin: 12px 22px;
    border: 2px solid rgb(194, 58, 13);
    min-width: 21vw;
    text-align: center;   
    border-radius: 10px;
}
.box h2{
    font-size: 2rem;
    padding: 12px 0;
}
.highlighted{
    font-size:1.2rem;
    font-weight: bolder;
}

.box ul{
    list-style-type:none;
}
.box ul li{
    margin:12px 4px ;
}
.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{ 
    width: 23vw; 
    border-bottom: 2px solid black;
    padding: 15px 0;
} 

.section3 table td{   
    border-bottom: 2px solid black; 
} 
 

.section3 h1{
    font-size: 2.3rem;
}

.section3{
    padding: 73px;
}
footer{
    padding: 23px;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}